<!-- forma de acessar no ts o formCadastro. Validacao Reativas de Forms, o submit p form é melhor que o click do botao -->
<form [formGroup]="formCadastro" (submit)="handleCadastraUsuario()">
    <cmail-form-group [campo]="formCadastro.get('nome')">
        <!-- usando a diretiva que criei -->
        <!-- {{ formCadastro.get('nome').errors | json}} depurar -->
        <input placeholder="Nome" formControlName="nome" cmailInput>
        <span *ngIf="formCadastro.get('nome').errors && formCadastro.get('nome').errors.required" class="mdl-textfield__error">Informar um nome é obrigatório!</span>
        <span *ngIf="formCadastro.get('nome').errors && formCadastro.get('nome').errors.minlength" class="mdl-textfield__error">
            O nome deve conter {{ formCadastro.get('nome').errors?.minlength.requiredLength }} caracteres.
            Você só digitou {{ formCadastro.get('nome').errors?.minlength.actualLength }}, usando Elvis Operator.
        </span>
    </cmail-form-group>
    <cmail-form-group [campo]="formCadastro.get('username')">
        <!-- usando a diretiva que criei -->
        <input placeholder="Username" formControlName="username" cmailInput>
    </cmail-form-group>
    <cmail-form-group [campo]="formCadastro.get('senha')">
        <!-- usando a diretiva que criei -->
        <input placeholder="Senha" formControlName="senha" cmailInput>
    </cmail-form-group>
    <cmail-form-group [campo]="formCadastro.get('telefone')">
        <!-- usando a diretiva que criei -->
        <!-- {{ formCadastro.get('telefone').errors | json }} -->
        <input placeholder="Telefone" formControlName="telefone" cmailInput>
        <span *ngIf="formCadastro.get('telefone').errors && formCadastro.get('telefone').errors.required" class="mdl-textfield__error">O campo telefone é obrigatório.</span>
        <span *ngIf="formCadastro.get('telefone').errors && formCadastro.get('telefone').errors.requiredPattern" class="mdl-textfield__error">Digite um número de telefone válido. Ex: 9999-99999!</span>
    </cmail-form-group>
    <cmail-form-group [campo]="formCadastro.get('avatar')">
        <!-- {{ formCadastro.get('avatar').errors | json }} -->
        <!-- usando a diretiva que criei -->
        <input placeholder="Avatar" formControlName="avatar" #urlDaImagem cmailInput>
        <!-- <span *ngIf="formCadastro.get('avatar').hasError('required')" class="mdl-textfield__error">Informar uma url com um avatar é obrigatório!.</span> -->
        <!-- <span *ngIf="formCadastro.get('avatar').hasError('urlInvalida')" class="mdl-textfield__error">Informar uma url com um avatar é obrigatório!.</span> -->
        <span *ngIf="formCadastro.get('avatar').errors && formCadastro.get('avatar').errors.required" class="mdl-textfield__error">O campo avatar é obrigatório.</span>
        <span *ngIf="formCadastro.get('avatar').errors?.urlInvalida" class="mdl-textfield__error">A URL é inválida!</span>
        <span *ngIf="formCadastro.get('avatar').status === 'PENDING'" class="mdl-textfield__error">Validação pendente....</span>
    </cmail-form-group>
    <button _ngcontent-c1="" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"> Cadastrar </button>
    <!-- {{ urlDaImagem | json }} -->
</form>
<img [src]="urlDaImagem.value" /> 

<!-- projeto back end do projeto: https://github.com/caelum/cmail-back -->
<!-- Acessa o projeto -->
<!-- Roda o comando 'npm install' para baixar as dependencias do projeto descritas no arquivo package.json -->